extend ../_layout

block content
  h2 Etat des cartouches

  .jumbotron
    .container
    - pos = 1
    .card-deck
      +card(pos++, "Citrate de Magnesium", 75)
      +card(pos++, "Gingko Biloba", 25)
      +card(pos++, "Selenium", 100)
      +card(pos++)
