doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    title= Peel
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")

  body
    .container
      nav.navbar.navbar-default.navbar-static-top(role="navigation")
        .navbar-header
        ul.nav.navbar-nav

      block content
