extend _layout

block content
  .jumbotron
    h1.display-4 Peel Machine Proto #1

  p.text-center
    a.btn.btn-lg.btn-primary.btn-block(href="/cartridges/view") Voir état des cartouches&nbsp;
      span.badge.badge-light 4/4
    a.btn.btn-lg.btn-primary.btn-block(href="/cartriges/change") Changement de cartouche
